<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" *ngIf="sidebarOff" (click)="eventCalled()" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-align-left"></i>
            <span></span>
        </button>
        <button type="button" *ngIf="sidebarOn" (click)="eventOneCalled()" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-align-left"></i>
            <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addAsset" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Asset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addCategory" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/listCategories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">List Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/map" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Map</a>
                </li>
            </ul>
        </div>
    </div>
</nav>