<div class="container">
  <form *ngIf="formGroup" class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="onSave()" >
        <dynamic-bootstrap-form [model]="formModel"
                                [layout]="formLayout"
                                [group]="formGroup">
            <ng-template modelId="properties" let-context="context" let-index="index" required>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-danger btn-sm rounded" (click)="remove(context, index)">&#10005;</button>
                    <button type="button" class="btn btn-success btn-sm rounded" (click)="insert(context, index + 1)">&#43;</button>
                </div>
            </ng-template>
        </dynamic-bootstrap-form>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>