<nav id="sidebar">
    <div class="sidebar-header">
        <h3>ITS Angular</h3>
    </div>
    
    <ul class="list-unstyled components">
        <p>Menu</p>
        <hr>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
            <a routerLink="/addAsset" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Asset</a>
        </li>
        <li>
            <a routerLink="/addCategory" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Category</a>
        </li>
        <li>
            <a routerLink="/listCategories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">List Categories</a>
        </li>
        <li>
            <a routerLink="/map" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Map</a>
        </li>
    </ul>
</nav>