<div class="row asset">
  <div class="col-md-12 col-centered">
    <h3>Edit Asset</h3>
    <form *ngIf="asset" novalidate #f="ngForm" (submit)="onSubmit(f)">
      <div class="form-group">
        <label for="assetName">Name</label>
        <input 
              type="text" 
              class="form-control"
              [(ngModel)]="asset.name"
              #assetName="ngModel"
              name="assetName"
              required
              minlength="3">
          <div *ngIf="assetName?.errors?.required && assetName.touched" class="alert alert-danger">
            Name is required
          </div>
          <div *ngIf="assetName?.errors?.minlength && assetName.touched" class="alert alert-danger">
            Must be at least 3 characters
          </div>
      </div>
      <div class="form-group">
        <label for="assetModel">Model</label>
        <input 
              type="text" 
              class="form-control"
              [(ngModel)]="asset.model"
              #assetModel="ngModel"
              name="assetModel"
              required
              minlength="3">
          <div *ngIf="assetModel?.errors?.required && assetModel.touched" class="alert alert-danger">
            Model is required
          </div>
          <div *ngIf="assetModel?.errors?.minlength && assetModel.touched" class="alert alert-danger">
            Must be at least 3 characters
          </div>
      </div>
      <div class="form-group">
        <label for="assetCategory">Category</label>
        <input 
              type="text" 
              class="form-control"
              [(ngModel)]="asset.category"
              #assetCategory="ngModel"
              name="assetCategory"
              required
              minlength="3">
          <div *ngIf="assetCategory?.errors?.required && assetCategory.touched" class="alert alert-danger">
            Category is required
          </div>
          <div *ngIf="assetCategory?.errors?.minlength && assetCategory.touched" class="alert alert-danger">
            Must be at least 3 characters
          </div>
      </div>
      <div class="form-group">
        <label for="assetSubcategory">Subcategory</label>
        <input 
              type="text" 
              class="form-control"
              [(ngModel)]="asset.subcategory"
              #assetSubcategory="ngModel"
              name="assetSubcategory"
              required
              minlength="3">
          <div *ngIf="assetSubcategory?.errors?.required && assetSubcategory.touched" class="alert alert-danger">
            Subcategory is required
          </div>
          <div *ngIf="assetSubcategory?.errors?.minlength && assetSubcategory.touched" class="alert alert-danger">
            Must be at least 3 characters
          </div>
      </div>
      <div class="form-group">
        <label for="assetDescription">Description</label>
        <input 
              type="text" 
              class="form-control"
              [(ngModel)]="asset.subcategory"
              #assetDescription="ngModel"
              name="assetDescription"
              required
              minlength="3">
          <div *ngIf="assetDescription?.errors?.required && assetDescription.touched" class="alert alert-danger">
            Description is required
          </div>
          <div *ngIf="assetDescription?.errors?.minlength && assetDescription.touched" class="alert alert-danger">
            Must be at least 3 characters
          </div>
      </div>
      <div class="form-group">
        <label for="assetBrand">Brand</label>
        <input 
              type="text" 
              class="form-control"
              [(ngModel)]="asset.brand"
              #assetBrand="ngModel"
              name="assetBrand"
              required
              minlength="3">
          <div *ngIf="assetBrand?.errors?.required && assetBrand.touched" class="alert alert-danger">
            Brand is required
          </div>
          <div *ngIf="assetBrand?.errors?.minlength && assetBrand.touched" class="alert alert-danger">
            Must be at least 3 characters
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="submit" value="Update" class="btn btn-primary" style="cursor: pointer;">
        </div>
        <div class="col-md-6"></div>
      </div>
    </form>
  </div>
</div>