.asset{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding:25px;
    color: white;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
input{
    color: black;
    background-color: white;
}
textarea{
    color: black;
    background-color: white;
}
h3{
    color:black;
}